<div class="col-sm-11 col-10 column content-container">
    <h2 class="content-title">Customer Overview</h2>
    <div class="row table-actions__container">
        <mat-form-field appearance="outline" class="col-sm-6 col-md-6 col-3">
            <mat-icon *ngIf="!input.value" matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event)" placeholder="Customer or ID" #input>
        </mat-form-field>
        <button mat-mini-fab class="button-add" (click)="addNewCustomer()">
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <table class="col-sm-12" mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="customer">
            <th mat-header-cell *matHeaderCellDef class="col-3"> Customer </th>
            <td mat-cell *matCellDef="let row">
                <img class="v-align-middle logo" src="{{row.logo}}" alt="Logo">
                {{row.name}}
            </td>
        </ng-container>

        <ng-container matColumnDef="button">
            <th mat-header-cell *matHeaderCellDef class="col-sm-2 col-4"></th>
            <td mat-cell *matCellDef="let row">
                <button class="button-drop-menu" [matMenuTriggerFor]="menu">
                    Default
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="com_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Com id </th>
            <td mat-cell *matCellDef="let row"> {{row.com_id}} </td>
        </ng-container>

        <ng-container matColumnDef="leg_id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Leg id </th>
            <td mat-cell *matCellDef="let row"> {{row.leg_id}} </td>
        </ng-container>

        <ng-container matColumnDef="size">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Size </th>
            <td mat-cell *matCellDef="let row"> {{row.size}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
            <td mat-cell *matCellDef="let row">
                <p *ngIf="row.status === 'active'" class="row-active">
                    <span>active</span>
                </p>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="6">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>Something</button>
    <button mat-menu-item>Something</button>
    <button mat-menu-item>Something</button>
</mat-menu>
