/* You can add global styles to this file, and also import other style files */

@import "style/responsive.layout";

html, body { height: 100%; }
body { margin: 0; font-family: InterUI, "Helvetica Neue", sans-serif; }

.v-align-middle {
  vertical-align: middle;
}